:root {
  --background-color: #fdfdfd;
  --main-color: #06F;
  --delete-color: #F20;
  --managment-color: #0C1;
  --main-text: #efefef;
  --border-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}