.title {
  font-size: 3rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex: 1;
}

.product-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
}

.product-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25rem;
}

.product-detail {
  font-size: 1.25rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 2;
}

.product-description {
  width: 100%;
  height: -webkit-fill-available;
  font-size: 1rem;
  word-break: keep-all;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .product-image-container {
    max-width: 320px;
    margin: auto;
  }

  .product-info {
    flex: unset;
  }
}