.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
}