.container, .list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.list-item > a {
  color: var(--main-text);
  font-size: 1.25rem;
  font-weight: 500;
}