.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.actions-container > button {
  flex: 1;
}